@charset "ISO-8859-1";


@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

.shell {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px; /* Espacio entre tarjetas */
}
.wsk-cp-product {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  margin: 10px;
  width: 18%; /* Ajustar el ancho para que entren 5 en una fila */
  min-width: 350px; /* Ancho mínimo para mantener la estructura */
  display: flex;
  flex-direction: column;
}
.wsk-cp-img {
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}
.wsk-cp-product:hover .wsk-cp-img img {
  transform: scale(1.1);
}
.wsk-cp-text {
  padding: 20px 0;
  flex: 1;
}
.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > span {
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #212121;
  color: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}
.wsk-cp-product:hover .wsk-cp-text .category > span {
  border-color: #ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}
.wsk-cp-text .title-product {
  text-align: center;
}
.wsk-cp-text .title-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.wsk-cp-text .description-prod p {
  margin: 0;
}
.wsk-cp-text .description-prod {
  text-align: center;
  width: 100%;
  height: 62px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}
.card-footer {
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-footer .price {
  font-size: 18px;
  font-weight: bold;
}
a.buy-btn {
  display: block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover, a.buy-btn:active, a.buy-btn:focus {
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
  text-decoration: none;
}
.wsk-btn {
  display: inline-block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding: 12px 30px;
  border-radius: 27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active {
  text-decoration: none;
  color: #fff;
}
.red {
  color: #F44336;
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 1200px) {
  .wsk-cp-product {
    width: 45%; /* Ajustar el ancho para pantallas medianas */
  }
}
@media screen and (max-width: 768px) {
  .wsk-cp-product {
    width: 100%; /* Ajustar el ancho para pantallas pequeñas */
  }
}

.carousel2 {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.carousel2-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel2-item {
    flex: 0 0 calc(100% / 3); /* Ajusta el ancho para que entren 3 elementos en una fila */
    box-sizing: border-box;
    padding: 0 10px;
}

.carousel2-item img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    border-radius: 10px;
}

.carousel2-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.carousel2-control.prev {
    left: 0;
}

.carousel2-control.next {
    right: 0;
}




